%meta{:charset => "utf-8"}/
-# %title= content_for?(:title) ? yield(:title) : "Fancytest"
%title= "#{yield(:title)} - #{Settings.app_name}"
= csrf_meta_tags
/ Le HTML5 shim, for IE6-8 support of HTML elements
/[if lt IE 9]
  = javascript_include_tag "http://html5shim.googlecode.com/svn/trunk/html5.js"
/ Le styles

%link{:href => 'http://fonts.googleapis.com/css?family=Droid+Sans|Varela|Maven+Pro|Prociono|Snippet|Patrick+Hand|Cabin|Julee|Sorts+Mill+Goudy|Michroma|Andika|Cabin+Sketch:700|Delius+Swash+Caps|Coustard|Montez|Short+Stack|Philosopher|Istok+Web|Ubuntu|Josefin+Sans:400,700|Schoolbell|Gloria+Hallelujah|Antic|Monoton|EB+Garamond|Adamina|Architects+Daughter|Comfortaa|Delius|Didact+Gothic|Hammersmith+One|Numans|Nunito|Open+Sans|Play|Quattrocento+Sans|Rosario|Varela+Round', :rel => 'stylesheet', :type => 'text/css'}


= stylesheet_link_tag "application"

- if resources_name != controller_name && resources_name != params[:controller]
  - if File.exists?("#{Rails.root}/app/assets/stylesheets/#{resources_name}.css.less")
    = stylesheet_link_tag resources_name
  - if File.exists?("#{Rails.root}/app/assets/stylesheets/#{resources_name}_#{action_name}.css.less")
    = stylesheet_link_tag "#{resources_name}_#{action_name}"

- if File.exists?("#{Rails.root}/app/assets/stylesheets/#{params[:controller]}.css.less")
  = stylesheet_link_tag params[:controller]
- if File.exists?("#{Rails.root}/app/assets/stylesheets/#{params[:controller]}_#{params[:action]}.css.less")
  = stylesheet_link_tag "#{params[:controller]}_#{params[:action]}"

- if controller_name != params[:controller]
  - if File.exists?("#{Rails.root}/app/assets/stylesheets/#{controller_name}_#{action_name}.css.less")
    = stylesheet_link_tag "#{controller_name}_#{action_name}"

= javascript_include_tag "application"

- if resources_name != controller_name && resources_name != params[:controller]
  - if File.exists?("#{Rails.root}/app/assets/javascripts/#{resources_name}.js.coffee")
    = javascript_include_tag resources_name
  - if File.exists?("#{Rails.root}/app/assets/javascripts/#{resources_name}_#{action_name}.js.coffee")
    = javascript_include_tag "#{resources_name}_#{action_name}"

- if File.exists?("#{Rails.root}/app/assets/javascripts/#{params[:controller]}.js.coffee")
  = javascript_include_tag params[:controller]
- if File.exists?("#{Rails.root}/app/assets/javascripts/#{params[:controller]}_#{params[:action]}.js.coffee")
  = javascript_include_tag "#{params[:controller]}_#{params[:action]}"

- if controller_name != params[:controller]
  - if File.exists?("#{Rails.root}/app/assets/javascripts/#{controller_name}_#{action_name}.js.coffee")
    = javascript_include_tag "#{controller_name}_#{action_name}"


:css
  body {
    padding-top: 60px; /* 60px to make the container go all the way to the bottom of the topbar */
  }
/ Le fav and touch icons
-# %link{:href => "images/favicon.ico", :rel => "shortcut icon"}/
%link{:href => "images/apple-touch-icon.png", :rel => "apple-touch-icon"}/
%link{:href => "images/apple-touch-icon-72x72.png", :rel => "apple-touch-icon", :sizes => "72x72"}/
%link{:href => "images/apple-touch-icon-114x114.png", :rel => "apple-touch-icon", :sizes => "114x114"}/
